<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>web personal</title>
</head>
<body>
    <h1> web personal</h1>
    <ul>
        <li><a href="/"> portada </a></li>
        <li><a href="/about-me/"> Acerca de </a></li>
        <li><a href="/porfolio/"> portafolio </a></li>
        <li><a href="/contact/"> contacto </a></li>
    </ul>

    {% block content %}{% endblock %}
</body>
</html>