<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi web Personal</title>
</head>
<body>
    <h1> web personal</h1>
        <ul>
            <li><a href="/home/"> PORTADA </a></li>
            <li><a href="/about/"> ACERCA DE </a></li>
            <li><a href="/portfolio/"> PORTAFOLIO </a></li>
            <li><a href="/contact/"> CONTACTO </a></li>
        </ul>



</body>
</html>