
<!DOCTYPE html>
<html lang="es">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Templates</title>

</head>

<body>
    
    <ul>
        <li><a href='/'>PORTADA</a></li>
        <li><a href='/about/'>ACERCA DE</a></li>
        <li><a href='/portfolio/'>PORTAFOLIO</a></li>
        <li><a href='/contact/'>CONTACTO</a></li>
    </ul>

    <h1>Web Personal</h1>
    
    <h2>Portafolio</h2>
    <h3>Currículum</h3>
    
    <p>Enlace a proyectos...</p>

</body>

</html>
